<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="defaultCsvFile" value="C:\Users\Nick\Documents\Visual Studio 2013\Projects\COT\COT.Tests\TestData\FuturesOnlyWithTitles.csv"/>
    <add key="defaultOutputFile" value="C:\Users\Nick\Documents\Visual Studio 2013\Projects\COT\COT.Tests\TestData\FuturesOnlyWithTitles.cs"/>
    <add key="defaultNamespace" value="COT.Downloads"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
